@media (max-width: 1130px) {
  .SecondSection {
    height: 125vh;
  }
  .SecondSection .box {
    flex-wrap: wrap;
  }

  .SecondSection .vertical {
    margin-bottom: 100px;
  }

  .vertical .image-top {
    position: relative;
    top: 103px;
  }

  .space {
    margin: 50vh;
  }

  .vertical-title {
    position: relative;
    left: 20px;
  }

  .vertical-desc {
    position: relative;
    left: 20px;
  }
}

@media (max-width: 950px) {
  main hr,
  .SecondSection {
    margin-left: 50px;
  }
}

@media (max-width: 876px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
  }
  .left {
    font-size: 1.5rem;
  }
  .right {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .FirstSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .FirstSection > div {
    width: 50%;
  }

  .right {
    align-items: center;
  }

  .RightSection img {
    margin-top: 20px;
  }

  .SecondSection {
    text-align: center;
  }

  .footer {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

@media (max-width: 645px) {
  .space {
    margin: 95vh;
  }
  .SecondSection {
    height: 215vh;
  }
}

@media (max-width: 600px) {
  .left {
    font-size: 1.3rem;
  }

  .right ul li a {
    font-size: 0.8rem;
  }

  nav ul li a:hover {
    font-size: 0.9rem;
  }
}

@media (max-width: 550px) {
  nav ul li {
    margin: 0 15px;
  }
}

@media (max-width: 451px) {
  nav ul li {
    margin: 0 15px;
  }

  .RightSection img {
    width: 200px;
}
}
